<template>
    <div>
        <h1>Daftar</h1>
        <router-link class="btn btn-success mb-3" :to="'barang/create'">
            Tambah
        </router-link>
        <ul>
            <li v-for="barang in barangs">
                <!-- <router-link :to="lihatbarang(barang.id)">
                    {{ barang.name }}
                </router-link> -->

                <a
                    class="nav-link"
                    href=""
                    @click.prevent="lihatbarang(barang.id)"
                    >{{ barang.name }}</a
                >
            </li>
        </ul>
    </div>
</template>
<script>
export default {
    props: ["id"],
    data() {
        return {
            barangs: [],
        };
    },
    mounted() {
        this.getBarang();
        // fetch("/api/barang")
        //     .then((response) => response.json())
        //     .then((data) => (this.barangs = data));
    },
    methods: {
        getBarang() {
            axios.get("/api/barang").then((response) => {
                this.barangs = response.data;
            });
        },
        barang_uri(id) {
            return "/barang/" + id;
        },
        lihatbarang(id) {
            this.$router.push({
                name: "DetailBarang",
                params: { id },
            });
        },
    },
};
</script>
