<template>
    <div v-if="id">
        <img width="100" :src="'/image/'+ detailbarang.photo" alt="">
        <h1>{{ detailbarang.name }}</h1>
        <a href="" @click.prevent="HapusBarang">Hapus</a>
        <a href="" @click.prevent="EditBarang">Edit</a>
    </div>
</template>
<script>
export default {
    props: ["id"],
    data() {
        return {
            detailbarang: {},
        };
    },
    mounted() {
        this.getBarang();
        // fetch("/api/barang")
        //     .then((response) => response.json())
        //     .then((data) => (this.barangs = data));
    },
    methods: {
        getBarang() {
            axios.get("/api/barang/" + this.id).then((response) => {
                this.detailbarang = response.data;
            });
        },
        EditBarang(){
            this.$router.push({
                        name: "EditBarang",
                        params: {id: this.id}
                    });
        },
        HapusBarang() {
            console.log(this.id);
            axios
                .delete("/api/barang/" + this.id)
                .then((response) => {
                    console.log(response);
                    this.$router.push({
                        name: "Barang",
                    });
                    this.$noty.success(response.data.message);
                })
                .catch((error) => {
                    console.log(error);
                });
        },
    },
};
</script>
