<template>
    <form
        class="w-50"
        method="POST"
        @submit.prevent="HandleUpdate"
        action="/editbarang"
        enctype="multipart/form-data"
    >
        <div class="mb-3">
            <input type="hidden" name="id" v-model="form.id" />
            <label for="name" class="form-label">Nama barang</label>
            <input
                type="text"
                class="form-control"
                v-model="form.name"
                id="name"
            />
            <div class="error text-danger" v-if="errors.name">
                {{ errors.name }}
            </div>
        </div>
        <div class="mb-3">
            <label for="category" class="form-label">Nama Category</label>
            <input
                type="text"
                class="form-control"
                v-model="form.category"
                id="category"
            />
            <div class="mb-3">
                <label for="photo" class="form-label">Nama photo</label><br />
                <img :src="previewimage" width="100" alt="" />
                <input
                    type="file"
                    class="form-control"
                @change="uploud"
                    id="photo"
                    multiple
                />
                <div class="error text-danger" v-if="errors.photo">
                    {{ errors.photo }}
                </div>
            </div>
            <div class="error text-danger" v-if="errors.category">
                {{ errors.category }}
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</template>
<script>
export default {
    props: ["id"],
    data() {
        return {
            form: [],
            photo:'',
            errors: {},
            previewimage:null 
        };
    },
    methods: {
        getBarang() {
            axios.get("/api/barang/" + this.id).then((response) => {
                this.form = {
                    id: response.data.id,
                    name: response.data.name,
                    category: response.data.category,
                };
                this.previewimage = "/image/" + response.data.photo;
            });
        },
        uploud(e) {
            let files = e.target.files[0];
            this.previewimage = URL.createObjectURL(files);
            this.photo =  files
        },
        HandleUpdate() {
            let formData = new FormData();
            formData.append("id", this.form.id);
            formData.append("photo", this.photo);
            formData.append("name", this.form.name);
            formData.append("category", this.form.category);
            console.log(this.photo)
            axios
                .post("/api/editbarang", formData)
                .then((response) => {
                    this.$router.push({
                        name: "Barang",
                    });
                    this.$noty.success(response.data.message);
                })
                .catch((error) => {
                    this.errors = error.response.data.errors;
                });
        },
    },
    mounted() {
        this.getBarang();
        // fetch("/api/barang")
        //     .then((response) => response.json())
        //     .then((data) => (this.barangs = data));
    },
};
</script>
