<template>
    <form
        class="w-50"
        method="POST"
        @submit.prevent="HandleSubmit"
        action="/tambahbarang"
        enctype="multipart/form-data"
    >
        <div class="mb-3">
            <label for="name" class="form-label">Nama barang</label>
            <input
                type="text"
                class="form-control"
                v-model="name"
                id="name"
            />
            <div class="error text-danger" v-if="errors.name">
                {{ errors.name }}
            </div>
        </div>
        <div class="mb-3">
            <label for="category" class="form-label">Nama Category</label>
            <input
                type="text"
                class="form-control"
                v-model="category"
                id="category"
            />

            <div class="error text-danger" v-if="errors.category">
                {{ errors.category }}
            </div>
        </div>
        <div class="mb-3">
            <label for="photo" class="form-label">Nama photo</label><br />
            <img :src="previewimage" width="100" alt="" />
            <input
                type="file"
                class="form-control"
                @change="uploud"
                id="photo"
                multiple
            />

            <div class="error text-danger" v-if="errors.photo">
                {{ errors.photo }}
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</template>
<script>
import axios from "axios";

export default {
    data() {
        return {
            name: "",
            category: "",
            previewimage: null,
            errors: {},
        };
    },
    methods: {
        uploud(e) {
            let files = e.target.files[0];
            this.previewimage = URL.createObjectURL(files);
            this.photo =  files
        },
        HandleSubmit() {
            console.log(this.photo)
            const config = {
                headers: { "content-type": "multipart/form-data" },
            };
            let formData = new FormData();
            formData.append("photo", this.photo);
            formData.append("name", this.name);
            formData.append("category", this.category);
            axios
                .post("/api/tambahbarang", formData)
                .then((response) => {
                    console.log(response);
                    this.$router.push({
                        name: "Barang",
                    });
                    this.$noty.success(response.data.message);
                })
                .catch((error) => {
                    this.errors = error.response.data.errors;
                });
        },
    },
};
</script>
